<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rohit.technbeat">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".userModules.Global"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/icontechnobeat"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/technobeat_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".adminModules.adminSection.AboutFestEdit"></activity>
        <activity android:name=".adminModules.adminSection.UsersVerification" />
        <activity android:name=".adminModules.AdminPanelSelection" />
        <activity
            android:name=".userModules.Splash"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userModules.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userModules.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userModules.AboutFest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userModules.Events"
            android:screenOrientation="portrait" />
        <activity
            android:name=".groupOfEvents.Technical_Events"
            android:screenOrientation="portrait" />
        <activity
            android:name=".groupOfEvents.GamingEvents"
            android:screenOrientation="portrait" />
        <activity
            android:name=".groupOfEvents.MediaEvents"
            android:screenOrientation="portrait" />
        <activity
            android:name=".groupOfEvents.PhotographyEvents"
            android:screenOrientation="portrait" />
        <activity
            android:name=".groupOfEvents.FlagshipEvents"
            android:screenOrientation="portrait" />
        <activity
            android:name=".groupOfEvents.CorporateEvents"
            android:label="@string/title_activity_corporate_events"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".userModules.CoreMembers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userModules.Sponsors"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userModules.FollowUs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adminModules.adminSection.AdminMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userModules.FeedAndNavigate"
            android:label="@string/title_activity_feed_and_navigate"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".Book" />
        <activity
            android:name=".userModules.Participated"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userModules.Developer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userModules.ResetPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userModules.menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adminModules.adminSection.Storage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adminModules.adminSection.S_upload"
            android:screenOrientation="portrait" />
    </application>

</manifest>